body {
    font-family: Arial, sans-serif;
    background: #dfeee5;
    text-align: center;
}

.contenedor {
    background: white;
    width: 700px;
    margin: 80px auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.22);
}

h2 {
    text-align: left;
    color: #0D5E8C;
}

.progreso {
    width: 280px;
    height: 280px;

    border: 15px solid #EAF7EA;
    border-top: 15px solid #2D9C6A;
    border-left: 15px solid #2D9C6A;

    border-radius: 50%;

    margin: 40px auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.progreso p {
    color: #5a5a5a;
    margin: 5px;
}

.progreso h1 {
    font-size: 65px;
    color: #0D5E8C;
    margin: 5px;
}

button {
    background: #EAF7EA;
    color: #1f2d2e;
    border: 1px solid #2E7D32;
    border-radius: 19px;
    padding: 12px 30px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #2D9C6A;
    color: white;
}

.historial {
    color: #0D5E8C;
    margin-top: 20px;
}